<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>label</key>
		<string>Not Implemented Yet</string>
		<key>image</key>
		<string>petal-twitter.png</string>
	</dict>
	<dict>
		<key>label</key>
		<string>Not Implemented Yet</string>
		<key>image</key>
		<string>petal-save.png</string>
	</dict>
	<dict>
		<key>label</key>
		<string>Not Implemented Yet</string>
		<key>image</key>
		<string>petal-email.png</string>
	</dict>
	<dict>
		<key>label</key>
		<string>Not Implemented Yet</string>
		<key>image</key>
		<string>petal-facebook.png</string>
	</dict>
</array>
</plist>
